:root {
  /* colors for project */

  /* Primary */
  --light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* Gradeints */

  /* Background */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --light-red-bg: hsla(0, 100%, 67%, 0.1);
  --Orangey-yellow-bg: hsla(39, 100%, 56%, 0.1);
  --Green-teal-bg: hsla(166, 100%, 37%, 0.1);
  --Cobalt-blue-bg: hsla(234, 85%, 45%, 0.1);

  /* circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --plae-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  background-color: var(--plae-blue);
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  font-size: 18px;
}

span {
  font-weight: bold;
  opacity: 1;
}

.stat-number {
  opacity: 0.5;
}

#results-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 25px;
}

.results-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );

  border-radius: 25px;
  width: 400px;
  height: 560px;
}

.reults-heading {
  color: var(--light-lavender);
  padding: 2rem;
}

.score-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(
    to top,
    var(--persian-blue),
    var(--violet-blue)
  );
  height: 200px;
  width: 200px;
}

.large-number {
  color: var(--white);
  font-weight: bold;
  font-size: 4rem;
}

.small-number {
  color: var(--light-lavender);
}

.results-rating {
  color: var(--white);
  font-size: 2.5rem;
  margin: 2rem 0rem;
}

.results-description {
  text-align: center;
  color: var(--light-lavender);
  width: 65%;
  line-height: 1.5;
}

.summary-container {
  width: 400px;
  height: 560px;
  padding-left: 0 2rem;
}

.summary-heading {
  padding-top: 2rem;
  padding-left: 2rem;
}

.summary-stats {
  padding: 1.5rem 0rem;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: 16px;
}

.stats:last-child {
  margin-bottom: 1rem;
}

.stat-text {
  display: flex;
  align-items: center;
  width: 100%;
}

.stat-text p {
  margin-left: 0.75rem; /* Space after icon */
}

.stat-numbers {
  margin-left: auto; /* pushes 80 / 100 to the right */
}

.stat-label {
  font-weight: bold;
}

.score {
  color: var(--dark-gray-blue);
  font-weight: bold;
}

.total {
  color: var(--dark-gray-blue);
  opacity: 0.5;
}

#reaction {
  background-color: var(--light-red-bg);
}

#reaction .stat-label {
  color: var(--light-red);
}

#memory {
  background-color: var(--Orangey-yellow-bg);
}

#memory .stat-label {
  color: var(--Orangey-yellow);
}

#verbal {
  background-color: var(--Green-teal-bg);
}

#verbal .stat-label {
  color: var(--Green-teal);
}

#visual .stat-label {
  color: var(--Cobalt-blue);
}
#visual {
  background-color: var(--Cobalt-blue-bg);
}

.btn-container {
  text-align: center;
}

#btn {
  margin: 1.5rem;
  padding: 1rem;
  width: 340px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

#btn:hover {
  background-image: linear-gradient(
    to bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}
