:root {
  /* colors for project */

  /* Primary */
  --light-right: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* Gradeints */

  /* Background */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  /* circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --plae-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  background-color: var(--plae-blue);
}

p {
  font-size: 18px;
}

#results-summary {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );

  border-radius: 25px;
  width: 400px;
  height: 560px;
}

.reults-heading {
  color: var(--light-lavender);
  padding: 2rem;
}

.score-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(
    to top,
    var(--persian-blue),
    var(--violet-blue)
  );
  height: 200px;
  width: 200px;
}

.large-number {
  color: var(--white);
  font-weight: bold;
  font-size: 4rem;
}

.small-number {
  color: var(--light-lavender);
}

.results-rating {
  color: var(--white);
  font-size: 2.5rem;
  margin: 2rem 0rem;
}

.results-description {
  text-align: center;
  color: var(--light-lavender);
  width: 65%;
  line-height: 1.5;
}

.summary-container {
  background-color: var(--white);
  height: 560px;
}
